<nav class="navbar bg-secondary d-flex justify-content-between">
   <%= image_tag "logo.png", size: "105x55", class: "rounded-circle ms-2"%>
      <% if !current_user.present? %>
      <h1 class = "fs-3 mt-2 ps-2">Welcome to Posts</h1>
      <div class = "me-2">
         <%= link_to "SignUp", users_sign_up_path,  class: "text-center btn btn-danger fs-5 m-1 text-decoration-none text-white" %>
         <%= link_to "SignIn", sessions_new_path,  class: "text-center btn btn-danger fs-5 m-1 text-decoration-none text-white" %>
      </div>
   <% else %>
      <h1 class = "fs-3 mt-2 ps-2">Welcome to Posts, <%= current_user.name%></h1>
      <div class = "d-flex" >
         <%= button_to "Signout", sessions_destroy_path(current_user), method: :delete, class: "text-center btn btn-danger fs-5 m-1" %>
      </div>
   <% end %>

</nav>

<div class="w-100 d-flex justify-content-center mt-4">
   <div class="w-25 text-center px-2 ">
      <p class="fs-2 fw-bold lh-1">Choose Your Favorite Pacakage.</p>
   </div>
</div>

<p class="fw-lighter text-center fs-5-sm">Select one of your favorite package and get the facilities.</p>
<h6 class="text-center pb-2">Monthly</h6>


<div class="w-100">
   <div class="mx-3 d-flex justify-items-center justify-content-center">
      <div class = "row row-cols-4 g-2">
         <% @plan_ids = Plan.ids %> 
         <% @plan_ids.each do |id| %>
            <div class = "col">
               <% plan = Plan.find(id) %>
               <div class="border border-danger m-2 mt-3 rounded p-4">
                  <p class="fs-4 fw-bold m-1"><%= plan.name.upcase.gsub(/[_-]/, " ") %></p> 
                  <div class="bg-danger rounded" style="height: 2px; width: 200px;"></div> 

                  <div class="d-flex align-items-center mt-4">
                     <h5 class = "p-1 fw-light">₹</h5>
                     <h2><%= plan.price_in_rupees %>.00/-</h2>
                  </div>

                  <div class = "mt-3">
                     <div class="d-flex aligned-items-center">
                        <%= image_tag "checked.png", size: "20x20", class: "my-0"%>
                        <p class="fs-5-xsm fw-lighter ps-2">Create up to <b><%= plan.posts_allowed %></b> posts per month</p>
                     </div>
                     <div class="d-flex aligned-items-center">
                        <%= image_tag "checked.png", size: "20x20", class: "my-0"%>
                        <p class="fs-5-xsm fw-lighter ps-2">Perfect for power users</p>
                     </div>
                     <div class="d-flex aligned-items-center">
                        <%= image_tag "checked.png", size: "20x20", class: "my-0"%>
                        <p class="fs-5-xsm fw-lighter ps-2">Billed monthly</p>
                     </div>
                     <div class="d-flex aligned-items-center">
                        <%= image_tag "checked.png", size: "20x20", class: "my-0"%>
                        <p class="fs-5-xsm fw-lighter ps-2">Upgrade or cancel anytime</p>
                     </div>
                  </div>

                  <%= button_to "Get Started", payments_create_path(plan: plan.name ), method: :post, class: "btn btn-danger my-2 text-white text-decoration-none fs-5" %>

               </div>
            </div>
         <% end %>
      </div>
   </div>
</div>
