<nav class="d-flex navbar bg-secondary">
   <%= link_to "New Post", posts_new_path, class: "text-center btn btn-danger fs-5-sm ms-2 text-decoration-none text-white" %>
   <%= link_to "Back", home_path, class: "text-center btn btn-dark fs-5-sm me-2 text-decoration-none text-white" %>
</nav>
<div class= "d-flex flex-start align-items-center gap-2 p-1 mt-2 mb-3">
   <%= image_tag "profile-user.png", size: "30x30", class: "rounded-circle " %>
   <p class = "mb-0 fs-5" ><%= current_user.name %></p>
</div>

<div class="d-flex">
   <% if @posts.length < 1%>
      <p class = "fs-3 m-2 fw-bold text-danger">No post available, Please add a post..</p>
   <% else %>
      <div class="row row-cols-4 g-3 p-2">
      <% @posts.each do |post| %>
         <div class="col">
            <div class="bg-secondary bg-opacity-50 rounded p-3 h-100 w-100">
            <div class="d-flex justify-content-center">
               <%= image_tag "post.jpg", size: "140x130", class: "img-fluid rounded" %>
            </div>
            <h1 class="fs-5 text-truncate text-center pt-3"><%= post.title %></h1>
            <div class="d-flex justify-content-center mt-3">
               <%= link_to "View post", post, class: "btn btn-primary fs-6 text-white text-decoration-none" %>
            </div>
            </div>
         </div>
      <% end %>
      </div>
   <% end %>
</div>


