<div class="card d-flex align-items-start text-start w-50 bg-secondary mx-auto p-4 pt-3 mt-5">
   <%= image_tag "logo.png", size: "125x75", class: "rounded-circle ms-2 mb-3"%>

   <div class="card-body">
      <div class="card-img-top"><%= image_tag "post.jpg", size: "150x150" %></div>
      <h3 class="card-title my-2"><b>Title: </b> <%= @post.title %></h3>
      <p class="card-text fs-4"><b>Content: </b><%= @post.content %></p>
      <div class = "fs-5-sm pt-3" >
         <p class = " mb-0">Created by: <%= current_user.name%></p>
         <p class = "">On: <%= @post.created_at.strftime("%B %d, %Y")%></p>
      </div>
   </div>
   <div class = "d-flex">
      <%= link_to "Back", root_path, class: "btn btn-dark  fs-5" %>
      <%= button_to "Delete", delete_post_path(@post),method: :delete, class: "btn btn-danger fs-5 d-inline-block mx-2" %>
   </div>

</div>

<p class = "fs-2">Comments:</p>
<% if @comments.length > 0 %>
<ul>
   <% @comments.each do |comment| %>
      <li class = "fs-5 text-warning"><%= comment.content %> (User: <%= comment.user_id%>)</li>
   <% end %>
</ul>
<%end %>
<%= form_with model: @comment, url: "/posts/#{@post.id}/comments", method: :post do |f| %>
   <%= f.text_field :content, class: "form-control", placeholder: "Add comment here.." %>
   <%= f.submit class: "btn btn-primary" %>
<% end %>