<!DOCTYPE html>
<html>
  <head>
    <title>Project1</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "manifest", "data-turbo-track": "reload" %>
  </head>

  <body>

    <% if notice %>
      <p class = "notice"><%= flash[:notice] %></p>
    <% elsif alert %>
      <p class = "alert"><%= flash[:alert] %></p>
    <% end %>

    <%= yield %>
    
  </body>
</html>
